useDynLib(GPCCA, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom(stats, rnorm, sd, var, cov, optim, runif, rbeta, rpois, rbinom)
importFrom(MASS, mvrnorm)
import(dplyr)
import(Matrix)
import(rsvd)
import(pcaMethods)
import(randcorr)
import(Seurat)
import(diceR)
import(parallel)
import(rstan)

#exportPattern("^[[:alpha:]]+")
export(GPCCAmodel)
export(GPCCAselect)
export(EM_completeDAT)
export(EM_missingDAT)
export(EM_diagonalCOV)

export(GPCCAmodel2)
export(EM_completeDAT_Bern)
export(EM_completeDAT_Pois)
export(EM_missingDAT_Bern)
export(EM_missingDAT_Pois)

export(example_MultiModalData_sim)
